@font-face {
  font-family: 'balatro';
  src: url('balatro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'balatro', Arial, sans-serif;
}


.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  font-family: 'balatro', Arial, sans-serif;  
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.details-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.slider-container {
  margin-bottom: 20px;
}

.card-container {
  margin: 0 auto;
  justify-items: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-details {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.card-info-item {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}


.highlight-plusmult {color: #ff4c40; font-weight: bold;}
.highlight-xmult {background-color: #ff4c40; color: white; font-weight: bold;}
.highlight-chips {color: #0093ff; font-weight: bold;}
.highlight-money {color: #f5b244; font-weight: bold;}

/* Er ikke ferdig enda :(
.highlight-important {color: #beb800; font-weight: bold;}
*/
.highlight-hearts {color: #f03464; font-weight: bold;}
.highlight-diamonds {color: #f06b3f; font-weight: bold;}
.highlight-clubs {color: #225854; font-weight: bold;}
.highlight-spades {  color: #1f1f1f; font-weight: bold;}


/* Different text color based on rarity */
.rarity-commonTxt { color: #0d7fc6; }
.rarity-uncommonTxt { color: #1bdd0e; }
.rarity-rareTxt { color: #d82e0c; }
.rarity-legendaryTxt { color : #7a236f; }

/* For other types */
.card.tarotTxt { color: #deb52e; }
.card.planetTxt { color: #00bbff; }
.card.voucherTxt { color: #8d6d6d; }
.card.spectralTxt { color: #441b82; }



/* Different background for card types and rarity */
/* For Jokers, we use rarity: common, uncommon, rare, legendary */
.card.rarity-common { background-color: #0d7fc6; }
.card.rarity-uncommon { background-color: #1bdd0e; }
.card.rarity-rare { background-color: #d82e0c; }
.card.rarity-legendary { background-color: #7a236f; }

/* For other types */
.card.tarot { background-color: #deb52e; }
.card.planet { background-color: #00bbff; }
.card.voucher { background-color: #8d6d6d; }
.card.spectral { background-color: #441b82; }


/* When more than 10 cards per row are chosen, make the container compact */
.card-container.compact {
  gap: 1px; /* smaller gaps */
}

/* You might want to reduce padding/margin for each card as well */
.card-container.compact .card {
  padding: 1px;
}

/* Button for choosing a tab also for RNG */
button {
color: #000000;
border: 1px solid #ddd;
font-family: Balatro, Arial, sans-serif;
border-radius: 0.25rem;
padding: 5px;
margin-bottom: 10px;
margin-left: 2px;
margin-right: 2px;
}

button:hover {
  color: #000000;
  border: 1px solid #bbbaba;
  font-family: Balatro, Arial, sans-serif;
  border-radius: 0.25rem;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  transform: scale(1.01);
  }

.blind-details {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.blind-container {
  display: grid;
  justify-items: center;
  gap: 15px;
  margin-top: 20px;
}

.blind-card {
  cursor: pointer;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease;
  background-color: #f9f9f9;
}

.blind-card:hover {
  transform: scale(1.05);
}

.blind-image {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 5px;
}

.blind-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.blind-info-item {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.blind-info-item strong {
  font-weight: bold;
}

.blind-image:hover {
  transform: scale(1.05);
}

.details-image {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: balatro, Arial, sans-serif;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.close-btn:hover {
  position: absolute;
  background-color: #ff4d4d;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-family: balatro, Arial, sans-serif;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  transform: scale(1.05);
}